.localdata/

# src/data/ait/

.venv/
proto/.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/


*.aux
*.log
*.out
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.lof
*.lot


.DS_Store


*.backup.tex


!src/lib/out/   
!src/lib/out/*.json
!src/lib/data/               
!src/data/README.md          
!src/requirements.txt
!paper/tables/            
!paper/figures/

.attic/
.localdata/
