.localdata/

# data/ait/

.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/


*.aux
*.log
*.out
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.lof
*.lot


.DS_Store


*.backup.tex


!lib/out/
!lib/out/*.json
!lib/data/
!data/README.md
!requirements.txt

.attic/
.localdata/
